section
  min-height: calc(100% - 185px)
  text-align: center
  @media screen and (max-width: $break-small)
    min-height: calc(100% - 155px)

.second-heading
  display: none // Show it later
  font-size: 40px
  font-weight: 300

.number-input-container
  padding-right: 80px

.description
  max-width: 460px
  margin: 0 auto 33px
  font-weight: 300

.input-number
  position: relative
  width: 150px
  height: 72px
  color: $blue
  text-transform: uppercase
  text-align: center
  font-weight: 600
  &:invalid
    box-shadow: none
  @include placeholder
    font-weight: 200

.button-number
  position: absolute
  width: 72px
  height: 72px
  border: none

.search
  background: $green url("../img/search-icon.svg") no-repeat 50% 50%

.resetSearch
  display: none
  background: $orange url("../img/delete-icon.svg") no-repeat 50% 50%
  &:hover
    opacity: .95


.response-container
  position: relative
  display: none
  max-width: 500px
  margin: 20px auto 70px
  padding: 20px
  opacity: .75
  border-radius: 5px
  font-size: 20px
  background-color: $blue
  color: white
  font-weight: 300
  &:after
    +transform(rotate(45deg))
    border-radius: 5px
    position: absolute
    top: -5px
    left: calc(50% - 10px)
    width: 20px
    height: 20px
    background-color: $blue
    content: " "

