$header-height-lg: 110px
$header-height-sm: 80px

nav
  width: 100%
  height: $header-height-lg
  @media screen and (max-width: $break-small)
    height: $header-height-sm

  background-color: white
  border-bottom: 10px solid $blue
  font-size: 18px
  background-color: white

  .container
    height: 100%


.navbar
  @extend .vertical-middle
  height: 100%


ul.nav-collapse
  text-align: center
  margin: 0 auto
  border-bottom: 3px solid $blue

  li
    transition: all 0.3s;
    cursor: pointer
    border-bottom: 1px solid $blue
    &:last-child
      border: 0
    a
      display: block
      font-size: 24px
      line-height: 60px
      color: $blue


.language-select
  width: 97px
  height: 50px
  padding-right: 20px
  color: $blue
  font-size: 20px
  font-weight: 300
  font-family: inherit
  border: none
  outline: none
  text-indent: 1px
  text-overflow: ""
  text-align: center
  background-color: $lightBlue
  @include appearance(none)
  &::-moz-focus-inner,
  &:focus
    outline: none
    border: 0

#setlang-form
  position: relative

#setlang-form:after
  position: absolute
  top: 48%
  right: 10px
  border: solid transparent
  content: " "
  height: 0
  width: 0
  pointer-events: none
  border-color: transparent
  border-top-color: $blue
  border-width: 5px

.logo-link
  display: block
  line-height: $header-height-lg
  @media screen and (max-width: $break-small)
    line-height: $header-height-sm

  .logo
    vertical-align:middle
