$header-height-lg: 110px
$header-height-sm: 80px

nav
  height: $header-height-lg
  @media screen and (max-width: $break-small)
    height: $header-height-sm

  background-color: white
  box-sizing: initial
  border-bottom: 10px solid $blue
  font-size: 18px
  background-color: white

  .container
    height: 100%


.navbar
  @extend .vertical-middle
  height: 100%


.btns
  list-style-type: none

  li
    margin: 0 30px 0 0
    display: inline-block


.logo-link
  display: block
  line-height: $header-height-lg
  @media screen and (max-width: $break-small)
    line-height: $header-height-sm

  .logo
    vertical-align:middle;
