.center-block {
    margin: 0 auto;
    max-width: 760px;
}
.alert-big {
    text-align: center;
}
.alert-big strong {
    font-size: 42px;
}

body {
padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    /* text-align: center; */
}
.navbar-brand {
    padding: 10px 15px;
}

.navbar-lang-icon {
    display: inline-block;
    margin-right: 5px;
}

.scrollable-dropdown-menu {
    overflow-x: hidden;
    max-height: 322px;
}

.scrollable-dropdown-menu li form a {
    clear: both;
    color: #333;
    display: block;
    font-weight: normal;
    line-height: 1.42857;
    padding: 3px 20px;
    white-space: nowrap;
}

.para {
    padding: 1em 0;
}

#result {
    display: none;
}
