html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #F1F5FF;
  color: #1E51BD; }

body {
  font-family: "Source Sans Pro", "Armir", sans-serif; }
  body.arabic-text * {
    font-family: "Armir", "Source Sans Pro", sans-serif; }
  body.arabic-text .about * {
    text-align: right; }

a,
a:hover,
a:visited,
a:focus {
  text-decoration: none;
  outline: 0;
  color: inherit; }

input,
input:focus {
  outline: 0;
  border: none;
  font-size: 36px; }

h1 {
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  text-align: center;
  margin: 30px 0 20px; }
  @media screen and (max-width: 720px) {
    h1 {
      margin-bottom: 10px; } }

h2 {
  font-weight: 700;
  font-size: 26px;
  text-align: center; }

p {
  font-size: 20px;
  line-height: 21px; }

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 30px; }

.vertical-middle, .navbar {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }

.left {
  float: left; }

.right {
  float: right; }

nav {
  width: 100%;
  height: 110px;
  background-color: white;
  border-bottom: 10px solid #1E51BD;
  font-size: 18px;
  background-color: white; }
  @media screen and (max-width: 720px) {
    nav {
      height: 80px; } }
  nav .container {
    height: 100%; }

.navbar {
  height: 100%; }

ul.nav-collapse {
  text-align: center;
  margin: 0 auto;
  border-bottom: 3px solid #1E51BD; }
  ul.nav-collapse li {
    transition: all 0.3s;
    cursor: pointer;
    border-bottom: 1px solid #1E51BD; }
    ul.nav-collapse li:last-child {
      border: 0; }
    ul.nav-collapse li a {
      display: block;
      font-size: 24px;
      line-height: 60px;
      color: #1E51BD; }

.language-select {
  width: 97px;
  height: 50px;
  padding-right: 20px;
  color: #1E51BD;
  font-size: 20px;
  font-weight: 300;
  font-family: inherit;
  border: none;
  outline: none;
  text-indent: 1px;
  text-overflow: "";
  text-align: center;
  background-color: #DFE8FF;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }
  .language-select::-moz-focus-inner, .language-select:focus {
    outline: none;
    border: 0; }

#setlang-form {
  position: relative; }

#setlang-form:after {
  position: absolute;
  top: 48%;
  right: 10px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #1E51BD;
  border-width: 5px; }

.logo-link {
  display: block;
  line-height: 110px; }
  @media screen and (max-width: 720px) {
    .logo-link {
      line-height: 80px; } }
  .logo-link .logo {
    vertical-align: middle; }

.footer {
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 300; }
  .footer .menu-list {
    margin: 0;
    padding: 0;
    text-align: center; }
  .footer .menu-list-item {
    display: inline-block;
    list-style: none;
    margin-right: 30px; }
    .footer .menu-list-item:last-child {
      margin-right: 0; }

section {
  min-height: calc(100% - 185px);
  text-align: center; }
  @media screen and (max-width: 720px) {
    section {
      min-height: calc(100% - 155px); } }

.second-heading {
  display: none;
  font-size: 40px;
  font-weight: 300; }

.number-input-container {
  padding-right: 80px; }

.description {
  max-width: 460px;
  margin: 0 auto 33px;
  font-weight: 300; }

.input-number {
  position: relative;
  width: 150px;
  height: 72px;
  color: #1E51BD;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600; }
  .input-number:invalid {
    box-shadow: none; }
  .input-number::-webkit-input-placeholder {
    font-weight: 200; }
  .input-number::-moz-placeholder {
    font-weight: 200; }
  .input-number:-moz-placeholder {
    font-weight: 200; }
  .input-number:-ms-input-placeholder {
    font-weight: 200; }

.button-number {
  position: absolute;
  width: 72px;
  height: 72px;
  border: none; }

.search {
  background: #7ED321 url("../img/search-icon.svg") no-repeat 50% 50%; }

.resetSearch {
  display: none;
  background: #F5A623 url("../img/delete-icon.svg") no-repeat 50% 50%; }
  .resetSearch:hover {
    opacity: .95; }

.response-container {
  position: relative;
  max-width: 500px;
  margin: 20px auto 70px;
  padding: 20px;
  opacity: .75;
  border-radius: 5px;
  font-size: 20px;
  background-color: #1E51BD;
  color: white;
  font-weight: 300; }
  .response-container:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 5px;
    position: absolute;
    top: -5px;
    left: calc(50% - 10px);
    width: 20px;
    height: 20px;
    background-color: #1E51BD;
    content: " "; }

.about h1 {
  font-weight: 700; }

.about h2 {
  text-align: left; }

.about p {
  line-height: 34px;
  font-size: 20px;
  font-weight: 300;
  text-align: justify;
  margin: 0 auto 30px; }

.about .content {
  padding-bottom: 30px; }
  .about .content:last-child {
    padding-bottom: 150px;
    text-align: left; }

.contact p {
  line-height: 34px;
  font-weight: 300; }

.contact .content:last-child {
  padding-bottom: 60px; }

.contact-textarea {
  display: block;
  width: 100%;
  height: 130px;
  max-width: 620px;
  margin: 20px auto 0;
  padding: 20px;
  border: 0;
  resize: none;
  overflow: hidden;
  font-size: 20px;
  font-weight: 300;
  color: #1E51BD;
  font-family: "Source Sans Pro", "Armir", sans-serif; }
  .contact-textarea::-webkit-input-placeholder {
    font-size: 20px;
    font-weight: 300;
    color: #1E51BD;
    font-family: "Source Sans Pro", "Armir", sans-serif; }
  .contact-textarea::-moz-placeholder {
    font-size: 20px;
    font-weight: 300;
    color: #1E51BD;
    font-family: "Source Sans Pro", "Armir", sans-serif; }
  .contact-textarea:-moz-placeholder {
    font-size: 20px;
    font-weight: 300;
    color: #1E51BD;
    font-family: "Source Sans Pro", "Armir", sans-serif; }
  .contact-textarea:-ms-input-placeholder {
    font-size: 20px;
    font-weight: 300;
    color: #1E51BD;
    font-family: "Source Sans Pro", "Armir", sans-serif; }

.contact-submit {
  width: 100%;
  height: 60px;
  max-width: 620px;
  font-size: 20px;
  border: 0px none;
  background-color: #7ED321;
  color: white; }
  .contact-submit:active {
    padding: 0; }
