{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<section class="about">
    <div class="container">
        <div class="content">
            <h1>{% trans 'About' %}</h1>
            <p>{% trans 'about_p1' %}</p>
            <p>{% trans 'about_p2' %}</p>
            <p>{% trans 'about_p3' %}</p>
        </div>
        <div class="content">
            <h2>{% trans 'Implementation' %}</h2>
            <p>{% trans 'about_p4' %}</p>
        </div>
        <div class="content">
            <h2>{% trans 'Privacy Notice' %}</h2>
            <p><strong>{% trans 'Declaration According to §13 German Telemedia Act' %}</strong></p>
            <p>{% trans 'about_p5' %}</p>
            <p><strong>{% trans 'Access data / server log files' %}</strong><br>{% trans 'about_p6' %}</p>
            <p><strong>{% trans 'Handling of personal data' %}</strong><br>{% trans 'about_p7' %}</p>
            <p><strong>{% trans 'Revocation, changes, corrections and updates' %}</strong><br>{% trans 'about_p8' %}</p>
        </div>
        <div class="content">
            <h2>{% trans 'Press Releases' %}</h2>
            <p>{% trans '29 Sept, 2015 - On the start of LAGeSoNUM.de' %}</p>
        </div>
        <div class="content">
            <h2>{% trans 'Follow Us On Twitter' %}</h2>
            <a href="https://twitter.com/lagesonum" class="twitter-follow-button" data-show-count="false">Follow @lagesonum</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
            </script>
        </div>
    </div>
</section>
{% endblock %}
