{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<section class="contact">
  <div class="container">
    <div class="content">
      <h1>{% trans 'Contact' %}</h1>
      <p><strong>Daniela Grebe</strong><br/>c/o Zesch, Bornemannstr. 11,<br/>13357 Berlin<br/><a href="mailto:kontakt@lagesonum.de">kontakt@lagesonum.de</a></p>
    </div>
    <div class="content contact-form">
      <form action="contact">
        <textarea class="contact-textarea" type="textarea" placeholder="{% trans 'Your message...' %}"></textarea>
        <button class="contact-submit" type="submit">{% trans 'Send' %}</button><!-- TODO: Send form -->
      </form>
    </div>
  </div>
</section>
{% endblock %}