{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block content %}
    {% spaceless %}
        <section class="query">
            <div class="container">
                <div class="text-container">
                    <h1 class="heading first-heading"><strong>{% trans 'Welcome to ' %} LAGeSo</strong>NUM</h1>
                    <h1 class="heading second-heading">{% trans 'Thank you!' %}</h1>
                    <p class="description">{% trans 'Please enter your waiting number here, to find out about the status of your registration process.' %}</p>
                </div>
                <form class="number-input-container form-inline" action="{% url 'query' %}" method="post" style="margin-bottom:20px;" id="query-form" role="form">
                    {% csrf_token %}
                    <input class="input-number" placeholder="A123" type="text" maxlength="4" />
                    <input class="button-number search" type="submit" value="" />
                    <button class="button-number resetSearch">
                    </button>
                </form>

                <div class="response-container">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div><!-- TODO: Do if statement that shows different message depending on the db query feedback/response. Hide it as default -->
            </div>
        </section>
    {% endspaceless %}
{% endblock %}

{% block additional_js %}
<script src="{% static 'js/query.js' %}"></script>
{% endblock %}


