{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block content %}
    {% spaceless %}
        <div class="container">
            <div class="starter-template">
                <p>{% blocktrans %}Please enter your number and either an email or a mobile-phone number. We will contact you on the day that your number will be called!{% endblocktrans %}</p>
                <form action="{% url 'subscribe' %}" method="post" class="form-inline" style="margin-bottom:20px;" id="subscribe-form" role="form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary">{% trans 'submit_label' %}</button>
                </form>
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block additional_js %}
<script src="{% static 'js/query.js' %}"></script>
{% endblock %}
