{% spaceless %}
{% load staticfiles i18n tags %}
{% url 'enter' as enter %}
{% url 'query' as query %}
{% url 'display' as display %}
{% url 'about' as about %}
{% url 'imprint' as imprint %}
{% endspaceless %}
<nav>
  <div class="container">
    <div class="navbar left">
      <a class="logo-link" href="{{ query }}">
        <img class="logo" alt="LAGeSoNUM" src="{% static 'img/logo-blue.png' %}">
      </a>
    </div>
    <!-- HAMBURGER MENU -->
    <div class="navbar right">
      {% if i18n_is_set or True %}
        {% get_language_info for request.LANGUAGE_CODE as current %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        <div class="language-dropdown">
<!--           <a href="#" onClick="clickLanguageSelect();" class="dropdown-toggle" data-foo="{{ current.code }}">
            <img src="{% static 'img/language_translate.png' %}" alt="pick a language" class="navbar-lang-icon" height="30">
            <span class="caret"/>
          </a>
 -->          <form action="{% url 'set_lang' %}" method="POST">
            <select>
              <option class="active" value="{{ current.code }}" onclick="document.setLang{{ language.code|capfirst }}.submit();return false;">{{ current.name_local|capfirst }}</option>
              {% for language in languages %}
              {% if language.code != current.code %}
                <option value="{{ language.code}}" onclick="document.setLang{{ language.code|capfirst }}.submit();return false;">{{language.name_local|capfirst}}</option>
              {% endif %}
              {% endfor %}
            </select>
            {% csrf_token %}
            <input type="hidden" name="next" value="{% get_current_view request %}"/>
            <input type="hidden" name="lang" value="{{ language.code }}">
          </form>
        </div>
      {% endif %}

      <a href="#" id="nav-trigger">
        <img src="{% static 'img/hamburger.png' %}" alt="menu">
      </a>
    </div>
  </div>
</nav>

<ul class="nav-collapse container">
  <li class="{% active request '/display$' %}"><a href="{{ display }}">{% trans 'display_link' %}</a></li>
  <li class="{% active request '/about$' %}"><a href="{{ about }}">{% trans 'about_link' %}</a></li>
  <li class="{% active request '/imprint$' %}"><a href="{{ imprint }}">{% trans 'contact_link' %}</a></li>
</ul>
